*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    /* --color-bg:#011627; */
    --color-bg:#EE4D5F;
    --color-bg2:#C1FCD3;
    --color-shadow: #113450;
    --color-in: #EBF4BF;
}
body{
    background-color: #011627;
}
h5{
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: blueviolet;
}
.btns{
    width: 45px;
    height: 40px;
    margin: 0.25rem 0.65rem;
    border-color: transparent;
    border-radius: 50%;
}
input{
    outline: none;
    text-align: right;
    font-size: 1.5rem;
    color: var(--color-shadow);
    padding: 0 0.7rem
}